click==7.1.2
cycler==0.11.0
fonttools==4.34.4
kiwisolver==1.4.3
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
PyQt5==5.15.7
pyqt5-plugins
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools
python-dateutil==2.8.2
python-dotenv==0.20.0
pywin32==304
PyYAML==6.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
randimage==1.2
scipy==1.8.1
six==1.16.0
WMI==1.5.1
